[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
python-dotenv = "*"
openai = "*"
beautifulsoup4 = "*"
streamlit = "*"
matplotlib = "*"
seaborn = "*"
nltk = "*"
wordcloud = "*"


[dev-packages]
pytest = "*"
deepdiff = "*"
pylint = "*"
black = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "*"